body{

margin:0;

background:#090909;

color:white;

font-family:Arial;

}



.container{

max-width:420px;

margin:auto;

padding:25px;

text-align:center;

}



.logo{

width:90%;

margin-bottom:20px;

}



.card{

background:#1b1b1b;

padding:20px;

border-radius:15px;

}



input{

width:100%;

padding:15px;

margin:10px 0;

border-radius:10px;

border:none;

font-size:16px;

}



button{

width:100%;

padding:15px;

margin-top:10px;

border:none;

border-radius:10px;


background:#b00000;

color:white;

font-weight:bold;

font-size:16px;

}


.success{

color:#00ff88;

}


.error{

color:#ff5555;

}
